body {
    background-image: url("./img/no-smoking.png"); 
    background-size: cover;
    font-family: "Poppins", "Noto Sans", "Oswald", sans-serif;
    font-weight: bold;
    height: 100vh;
    text-align: center;
}

.container {
    background-color: antiquewhite;
    max-width: 50%;
    max-height: 50%;
    margin: auto;
}


h1 {
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 20px;
    color: red;
    text-align: center;
    
}

p {
    color: red;
    font-weight: 800;
    font-size: 20px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
    color: red;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#increment-btn {
    background: darkred;
}

#save-btn {
    background: darkgreen;
}

