body {
    background-image: url("./img/no-smoking.png");
    background-size: cover;
    font-family: "Poppins", "Noto Sans", "Oswald", sans-serif;
    font-weight: bold;
    height: 100vh;
    text-align: center;
}

.container {
    background-color: antiquewhite;
    border: 3px solid red;
    border-radius: 10px;
    max-width: 60%;
    max-height: 60%;
    min-width: 330px;
    min-height: 330px;
    margin: auto;
    text-align: center;
}


h1 {
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 20px;
    color: red;
    text-align: center;
    
}

p {
    color: red;
    font-weight: 800;
    font-size: 15px;
}

h2 {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
    color: red;
}

button {
    border: 2px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#increment-btn {
    background: cornflowerblue;
}

#save-btn {
    background: darkgreen;
}

